.jumbotron p {
    margin-bottom: 15px !important;
    font-size: 15px !important;
    font-weight: unset;
}

.h6-subhead{
    font-weight: 700;
    font-size: 14px;
}

.carousel-img{
    height: 190px;
    width: 100%;
}