<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Barbed Wire Mesh</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Barbed Wire Mesh</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/hot-dipped-galvanized-barbed-wire.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/hot-dipped-galvanized-barbed-wire.jpg" class="popup-img overlay" title="barbed-wire">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/BARBED-WIRE-1.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/BARBED-WIRE-1.jpg" class="popup-img overlay" title="barbed-wire">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <div class="tabs-style-2">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#h2tab1" role="tab" data-toggle="tab">
                        <i class="fa fa-file-text-o pr-5"></i>Description</a>
                    </li>
                    <li>
                      <a href="#h2tab2" role="tab" data-toggle="tab">
                        <i class="fa fa-files-o pr-5"></i>Specifications</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content padding-top-clear padding-bottom-clear">
                    <div class="tab-pane fade in active" id="h2tab1">
                      <div class="space-top"></div>
                      <p align="justify">
                        Barbed wire is a type of fencing wire constructed with sharp edges or points arranged at intervals along the strand. It is
                        used to construct inexpensive fences and is used atop walls surrounding secured property Barbed wire
                        was the first wire technology capable of restraining cattle.
                      </p>
                      <p align="justify">
                        We prodce high quality products provided by us, we have been able to establish ourselves among the leading Barbed Wire Manufacturer,
                        Barbed Wire Supplier.
                      </p>
                      <p align="justify">
                        Whichever barbed wire you choose we recommend that you use two lines above the fence for optimum protection, these should
                        be placed approximately 50mm and150mm above the net.
                      </p>
                      <p align="justify">
                        Raw material : Galvanized iron Wire, hot dip galvanized wire, mild steel wire, PVC wire.
                      </p>
                      <p align="justify">
                        Four Barbs Of 12 to 18 mm twisted around two line wires having,
                      </p>
                      <p align="justify">
                        The angle of Barb is 30 – 45.
                      </p>
                    </div>
                    <div class="tab-pane fade" id="h2tab2">
                      <div class="space-top"></div>
                      <div class="row table-responsive">
                        <div class="col-sm-12">
                          <table class="table table-hover table-bordered table-striped">
                            <thead>
                              <tr>
                                <th class="text-center">Sr.No</th>
                                <th class="text-center">Size</th>
                                <th class="text-center">Length</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>i</td>
                                <td>12 x 12</td>
                                <td>18 ft per kg. (± 5%)</td>
                              </tr>
                              <tr>
                                <td>ii</td>
                                <td>12 x 14</td>
                                <td>24 ft per kg. (± 5%)</td>
                              </tr>
                              <tr>
                                <td>iii</td>
                                <td>14 x 14</td>
                                <td>32 ft per kg. (± 5%)</td>
                              </tr>
                            </tbody>
                          </table>
                          <table class="table table-hover table-bordered table-striped">
                            <thead>
                              <tr>
                                <th class="text-center">Sr.No</th>
                                <th class="text-center">Bard Distance</th>
                                <th class="text-center">-</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>(A)</td>
                                <td>50 mm ± 12 mm</td>
                                <td>As per requirement</td>
                              </tr>
                              <tr>
                                <td>(B)</td>
                                <td>150 mm ± 12 mm</td>
                                <td>As per requirement</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="row table-responsive">
                        <div class="col-sm-12">
                          <table class="table table-bordered table-striped table-hover">
                            <tbody>
                              <tr>
                                <td>Coil Size</td>
                                <td>300 to 400 mm</td>
                              </tr>
                              <tr>
                                <td>Coil Weight</td>
                                <td>30 to 45 Kg.</td>
                              </tr>
                              <tr>
                                <td>Packing</td>
                                <td>Unpacked</td>
                              </tr>
                              <tr>
                                <td>Raw-material</td>
                                <td>M.S. G.I Wire Hot Dip</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">
                          <h6 class="h6-subhead">Size Specifications:</h6>
                          <p>1: 14 X 14 – 1Kg = 10 meters</p>
                          <p>2: 12 X 14 – 1Kg = 8 meters</p>
                          <p>3: 12 X 12 – 1Kg = 6 meters</p>
                          <h6 class="h6-subhead">Application</h6>
                          <ol>
                            <li>Fencing</li>
                            <li>Compound wall fencing</li>
                            <li>Farm fencing</li>
                            <li>Protection against animal</li>
                            <li>Guard trees</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
                <!-- -->
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>