.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.text-error{
    color: red;
}
.text-error-border{
    border-color: red;
}

// .mapouter {
//     position: relative;
//     text-align: right;
//     height: 401px;
//     width: 555px;
//   }

//   .gmap_canvas {
//     overflow: hidden;
//     background: none !important;
//     height: 401px;
//     width: 555px;
//   }