
.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

#logodiv{
    div.mycustomlogo{
        padding-top: 15px;
    }
    .mycustomlogo a > span {
        font-family: 'Homemade Apple', cursive;
        font-weight: bold;
        font-size: 20px;
    }
}

// --------------- Social Links
li.customsocial a{
    color: #666666;
    background-color: transparent;
    border-color: #666666;
    border-radius: 100%;
    margin: 0 5px 5px 0;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    padding: 0;
}

li.customsocial a i{
    line-height: 40px;
}

li.customsocial a.facebook:hover {
    background-color: #337ab7;
    color: #fff;
    border-color: #337ab7;
}
li.customsocial a.googleplus:hover {
    background-color: #dd4b39;
    color: #fff;
    border-color: #dd4b39;
}
li.customsocial a.twitter:hover {
    background-color: #55acee;
    color: #fff;
    border-color: #55acee;
}
// ---------------------------