<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Gabions</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Gabions</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/Gabion_Box.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/Gabion_Box.jpg" class="popup-img overlay" title="Gabion Mattresses">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/green_pvc_coated_welded_mesh.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/green_pvc_coated_welded_mesh.jpg" class="popup-img overlay" title="GABION BASKETS">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/Military.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/Military.jpg" class="popup-img overlay" title="Military Gabions">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <p align="justify" class="mt-20">
                  We provide a wide range of Gabions Products that are a result of innovative research. Manufactured in accordance with the
                  industrial standards, the Gabions Products we offer are made available after quality checks. Made available
                  at competitive prices, our Gabions Products are appreciated due to their advanced designs, ease of installation
                  and various other beneficial features.
                </p>
                <h6>Range</h6>
                <ul>
                  <li>Gabion Baskets</li>
                  <li>Gabion Mattresses</li>
                  <li>Military Gabions</li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="separator"></div>
</section>

<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- tabs start -->
        <div class="tabs-style-2">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab_1" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>1. Gabion Baskets</a>
            </li>
            <li>
              <a href="#tab_2" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. Gabion Mattresses</a>
            </li>
            <li>
              <a href="#tab_3" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. Military Gabions</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_1">
              <!-- 1. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Gabion Baskets</h5>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            We are proud to announce a new product Gabion Baskets that are actually wire mesh boxes or containers that are filled with
                            rocks/stones. Electromechanical welding and automatic twisting done by latest equipment further
                            adds strength to the Gabion Baskets.
                          </p>
                          <h6 class="h6-subhead">Materials Of Construction</h6>
                          <ul>
                            <li>Heavily zinc quoted wire</li>
                            <li>PVC coating on Galvanized Wire</li>
                          </ul>
                          <h6 class="h6-subhead">Why Our Gabion Baskets?</h6>
                          <ul>
                            <li>Easy to assemble</li>
                            <li>Supplied in compact packaging</li>
                            <li>Easy to handle and transport</li>
                            <li>Remain intact even if one wire is cut or broken</li>
                          </ul>
                          <h6 class="h6-subhead">Benefits</h6>
                          <ul>
                            <li>Slows down water velocities</li>
                            <li>Perfect for river training and channel lining</li>
                            <li>Re- captures river bed sediment in</li>
                            <ul>
                              <li>Streams</li>
                              <li>Small or temporary/permanent dams</li>
                            </ul>
                          </ul>
                          <h6 class="h6-subhead">Used For</h6>
                          <ul>
                            <li>Soil rehabilitation</li>
                            <li>Stabilizing shorelines or slopes</li>
                            <li>Retaining walls and temporary floodwalls</li>
                            <li>Preventing</li>
                            <ul>
                              <li>Soil erosion</li>
                              <li>Canal and river linings</li>
                              <li>Filter silt from runoff</li>
                            </ul>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/green_pvc_coated_welded_mesh.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 1. End -->
            </div>

            <div class="tab-pane fade" id="tab_2">
              <!-- 2. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Gabion Mattresses</h5>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            An excellent solution provided by innovative research and use of modern technology, the Gabion Mattresses we offer are wire
                            fabric containers that form various structures to control water flow and preserve soil. Gabion
                            Mattresses are uniformly partitioned and of variable size, which is interconnected with similar
                            containers that are filled with stone at the site of use. For getting the desired results, pre-formed
                            stiffeners should be used at each exposed face of the gabion.
                          </p>
                          <h6 class="h6-subhead">Manufactured Out Of</h6>
                          <ul>
                            <li>Welded Wire Fabric</li>
                            <li>Woven Wire Fabric</li>
                          </ul>
                          <h6 class="h6-subhead">Used For Making</h6>
                          <ul>
                            <li>Retaining walls</li>
                            <li>Sea walls</li>
                            <li>Channel linings</li>
                            <li>Revetments</li>
                            <li>Weirs</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/Gabion_Box.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2. End -->
            </div>

            <div class="tab-pane fade" id="tab_3">
              <!-- 3. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Military Gabions</h5>
                  <br>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            We provide a range of special
                            <b>Military Gabions</b> that are required for various purposes. The Military Gabions we offer are
                            modernized version of the early gabions, which are manufactured using latest technology to impart
                            a high level of strength and durability. Providing protection to soldiers in sleeping quarters
                            and mess halls, the Military Gabions can be made to stand on end and staked firmly in a position
                            by filling soil to form a rock-solid wall.
                          </p>
                          <h6 class="h6-subhead">Highlights</h6>
                          <ul>
                            <li>Fully prepared</li>
                            <li>Covered with eco friendly clothes</li>
                            <li>Ready to use</li>
                            <li>Easy assembling and dismantling</li>
                            <li>Reduced transportation problems and costs</li>
                          </ul>
                          <h6 class="h6-subhead">Used To Protect Forward Operation Bases Against</h6>
                          <ul>
                            <li>Explosives</li>
                            <li>Fragmentary</li>
                            <li>Mortar or artillery fire</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/Military.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3. End -->
            </div>
          </div>
        </div>
        <!-- tabs end -->
        <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
        <!-- -->
      </div>
    </div>
  </div>
</div>