<!-- banner -->
<div class="banner">
  <div class="slideshow white-bg">

    <div class="slider-revolution-5-container">
      <div class="slider-banner-2 bullets-with-bg rev_slider" data-version="5.0">
        <ul class="slides">
          <!-- slide 1 start -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 1">
            <img src="assets/images/sliders/slider1.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

            <!-- Translucent background -->
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-start="800" data-transform_idle="o:0.6;"
              data-transform_in="o:0;s:800;e:Power2.easeInOut;" data-transform_out="o:0;s:800;" data-width="5000" data-height="5000"
              style="background-color:rgba(0,0,0,0.5);">
            </div>

            <!-- LAYER NR. 1 -->
            <div class="tp-caption very_large_text tp-resizeme" data-x="center" data-y="70" data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
              data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;" data-start="800" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" style="white-space: nowrap;">Welcome to Weld Tech Industries
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption small_thin_white tp-resizeme" data-x="center" data-y="170" data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
              data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;" data-start="800" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']" style="white-space: nowrap;">
              We are a leading Manufacturer and Exporters of Stainless Wire Mesh, Barb Wire Fence and many more..
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption tp-resizeme" data-x="center" data-y="250" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']"
              data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;" data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
              data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']"
              style="white-space: nowrap;">
              <a routerLink="/all-products" class="btn btn-default btn-sm">Products
                <i class="fa fa-angle-double-right pl-10"></i>
              </a>
            </div>

          </li>
          <!-- slide 1 end -->

          <!-- slide 2 start -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">
            <img src="assets/images/sliders/slider4.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-start="800" data-transform_idle="o:0.6;"
              data-transform_in="o:0;s:800;e:Power2.easeInOut;" data-transform_out="o:0;s:800;" data-width="5000" data-height="5000"
              style="background-color:rgba(0,0,0,0.5);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption small_thin_white tp-resizeme" data-x="center" data-y="170" data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
              data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;" data-start="800" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']" style="white-space: nowrap;">
              We are a completely customer-driven organization, supplying Top–Quality products as per the requirements or
              <br>specific samples of our valued customers at the best competitive prices
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption tp-resizeme" data-x="center" data-y="250" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']"
              data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;" data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
              data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']"
              style="white-space: nowrap;">
              <a routerLink="/all-products" class="btn btn-default btn-sm">Products
                <i class="fa fa-angle-double-right pl-10"></i>
              </a>
            </div>

          </li>
          <!-- slide 2 end -->

          <!-- slide 3 start -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on" data-title="Slide 2">
            <img src="assets/images/sliders/slider2.jpg" alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <div class="tp-caption dark-translucent-bg" data-x="center" data-y="bottom" data-start="800" data-transform_idle="o:0.6;"
              data-transform_in="o:0;s:800;e:Power2.easeInOut;" data-transform_out="o:0;s:800;" data-width="5000" data-height="5000"
              style="background-color:rgba(0,0,0,0.5);">
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption small_thin_white tp-resizeme" data-x="center" data-y="170" data-width="['auto','auto','auto','auto']"
              data-height="['auto','auto','auto','auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:600;e:Power3.easeOut;"
              data-transform_out="x:50px;opacity:0;s:600;e:Power3.easeOut;" data-start="800" data-splitin="none" data-splitout="none"
              data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']" style="white-space: nowrap;">
              We offer an exemplary range of quality products at very affordable rates that differentiates us from others in this industry.
              <br> The timely delivery of the products, ordered by our clients, makes us a worth selection and
              <br> also helped us to attain name and fame in the industry.
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption tp-resizeme" data-x="center" data-y="250" data-width="['auto','auto','auto','auto']" data-height="['auto','auto','auto','auto']"
              data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:600;e:Power3.easeOut;" data-transform_out="x:-50px;opacity:0;s:600;e:Power3.easeOut;"
              data-start="800" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-textAlign="['center', 'center', 'center', 'center']"
              style="white-space: nowrap;">
              <a routerLink="/all-products" class="btn btn-default btn-sm">Products
                <i class="fa fa-angle-double-right pl-10"></i>
              </a>
            </div>

          </li>
          <!-- slide 3 end -->
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- About -- Welcome -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
  <div class="container">
    <h1 class="text-center">About Weld Tech Industries</h1>
    <div class="separator"></div>
    <div class="row">
      <div class="col-md-12">
        <p align="justify" class="mt-20">Welcome to the extremely fascinating and alluring world of Weldtech industries. We are a leading Manufacturer and
          Exporters of Stainless Wire Mesh, Barb Wire Fence, Stainless Welded Wire Mesh, Chain Link Fences, Wire Mesh Fence,
          Gabion, Razor Wire, Security Fencing System, Vibrating Screens and related wire products.</p>
        <p align="justify">We are committed to excel in providing entire range of quality products and thereby providing customer’s utmost satisfaction
          and winning their trust and confidence. Our products are crafted in a mix of indigenous and imported machinery
          by highly skilled and expertised engineers, with a very strict quality control through in-house processes.With
          years of experience and perseverance, we have sculpted an eminent place for ourselves in both domestic and international
          market as prominent Stainless wire mesh, Barb wire fence, Stainless welded wire mesh, Chain Link Fences and Wire
          mesh fence manufacturer and exporters.</p>
        <p align="justify">We are a completely customer-driven organization, supplying Top–Quality products as per the requirements or specific
          samples of our valued customers at the best competitive prices. Last but not the least, we believe in maintaining
          long term relationship with our customers with the help of optimum quality products and that too at most reasonable
          price.We Inroduce our self as leading manufacturer, supplyer & Exporters of Weldmesh, Chainlink fence, Crimped
          net , Barbed wire, Wire mesh, Gabions & Hexagonal wire mesh. In India and abroad.</p>
        <p align="justify">Our aim is to win faith and long term healthy relationship of our esteemed customers by providing entire range of
          quality products.</p>
      </div>
      <!-- <div class="col-md-4">
        <img src="../../../../assets/images/slider3.jpg" alt="">
        <div class="space hidden-md hidden-lg"></div>
      </div> -->
    </div>
  </div>
</div>

<!-- Offer -->
<section class="main-container parallax dark-translucent-bg parallax-bg-custom" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
  <div class="main">
    <div class="container">
      <div class="call-to-action">
        <div class="row">
          <div class="col-md-8">
            <h1 class="title text-center">We offer more possibilities to meet your every need.</h1>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <a routerLink="/enquiry" class="btn btn-default btn-md">Enquiry Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Why Us -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
  <div class="container">
    <h1 class="text-center">Why Us?</h1>
    <div class="separator"></div>
    <div class="row">
      <div class="col-md-4">
        <img src="../../../../assets/images/slider3.jpg" alt="">
        <div class="space hidden-md hidden-lg"></div>
      </div>
      <div class="col-md-8">
        <p align="justify">
          We are the leading Manufacturer, Exporter and Supplier of premium quality Welded Wire Mesh, Crimped Wire Mesh, Chain Link
          Fence, Wire Mesh, Barbed Wire, etc. This range is demanded for its premium quality and durability.
        </p>
        <p align="justify">
          We are able to offer this supreme quality range and meet the voluminous market demands due to the support of our cutting-edge
          infrastructural facilities. We have achieved a reputed position in this industry due to the following factors :
        </p>
        <ul>
          <li>Easy payment options</li>
          <li>Large product line</li>
          <li>Wide distribution network</li>
          <li>Strict quality control</li>
          <li>Advanced production unit</li>
          <li>Timely Delivery</li>
        </ul>
        <br>
        <a [routerLink]="['/about-us']" class="btn btn-default btn-sm">Read more</a>
      </div>
    </div>
  </div>
</div>

<!-- Products -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
  <div class="container">
    <h1 class="text-center">Our Products</h1>
    <div class="separator"></div>
    <br>
    <div class="row grid-space-20">
      <div class="col-md-3 col-sm-6 isotope-item web-design" *ngFor="let items of productList">
        <div class="image-box">
          <div class="overlay-container" style="height: 220px;">
            <img src="assets/images/{{items.imagepath}}" style="width: 100%;height: 220px;" alt="">
            <a [routerLink]="['/', 'products', items.routeName]" class="overlay small">
              <i class="fa fa-plus"></i>
              <span>View Details</span>
            </a>
          </div>
          <a [routerLink]="['/', 'products', items.routeName]" class="btn btn-light-gray btn-md btn-block">{{items.name}}</a>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a routerLink="/all-products" class="btn btn-group btn-default btn-sm">View All Products</a>
    </div>
  </div>
</div>

<!-- Company Factsheet -->
<section class="main-container gray-bg" data-animation-effect="fadeInUpSmall" data-effect-delay="500">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center title">Company Factsheet</h1>
          <div class="separator"></div>
          <div class="row">
            <div class="col-sm-4">
              <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="0">
                <i class="fa fa-leaf"></i>
                <h2>Nature of Business</h2>
                <p>{{companyData.nature}}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="200">
                <i class="fa fa-users"></i>
                <h2>Total No. of Employees</h2>
                <p>{{companyData.totalEmployee}}</p>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-style-1 white-bg object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="400">
                <i class="fa fa-building-o"></i>
                <h2>Year of Establishment</h2>
                <p>{{companyData.year}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
