<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Welded Wire Mesh</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Welded Wire Mesh</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">

                  <div class="overlay-container">
                    <img src="assets/images/iron-tree-guard-500x500.jpg" class="carousel-img" alt="">
                    <a href="assets/images/iron-tree-guard-500x500.jpg" class="popup-img overlay" title="tree-guard-jali">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>

                  <div class="overlay-container">
                    <img src="assets/images/tree-guard-welded-wire-mesh-500x500.jpg" class="carousel-img" alt="">
                    <a href="assets/images/tree-guard-welded-wire-mesh-500x500.jpg" class="popup-img overlay" title="tree-guard-jali">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>

                  <div class="overlay-container">
                    <img src="assets/images/weld-mesh-2.jpg" class="carousel-img" alt="">
                    <a href="assets/images/weld-mesh-2.jpg" class="popup-img overlay" title="weld-mesh">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>

                  <div class="overlay-container">
                    <img src="assets/images/WELDED-WIRE-MESH.jpg" class="carousel-img" alt="">
                    <a href="assets/images/WELDED-WIRE-MESH.jpg" class="popup-img overlay" title="WELDED-WIRE-MESH">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <p align="justify">Weld Mesh is a welded wire mesh which is manufactured from metal wires welded at their intersections. By
                  using different diameter wires it can be made into a light or heavy gauge product. It is manufactured in
                  mild steel, galvanized, and stainless steel.</p>
                <p align="justify">Special finishes are available including powder coating in any color, triple coating and plastic coating.
                  This provides corrosion resistance and can considerably durability as well as its aesthetic attributes
                </p>
                <p align="justify">We manufactures and exports Welded Mesh & Reinforced Fabrics in 2 meter Width & 6mm Wire Dia, In Square,
                  Rectangular Dimensions from 13mm to 200 mm Opening. Specialized in M.S., G.I, stainless steel Grade and
                  straightened Wire Rods from 1.3mm to 6mm in any metals & accurate lengths.. Stainless steel is widely popular
                  due to its strength, hygienic and rustproof qualities.</p>
                <p align="justify">We believe in imparting total customer Satisfaction. With a commitment to provide quality Products, we also
                  ensure for the timely delivery of the Products. Our customer orientated services, place us apart from other
                  competitors.
                </p>
                <p align="justify">We work for and with customer to achieve the desire Goal. Working on principal of mutual benefits, we always
                  emphasis on our products n quality so that our customer get full satisfaction n value for money.
                </p>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <br>
    <div class="separator"></div>
  </div>
</section>

<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <!-- tabs start -->
        <div class="tabs-style-2">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab_mild_steel_1" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>1. Mild steel welded wire mesh</a>
            </li>
            <li>
              <a href="#tab_galvanized_2" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. Galvanized Welded Wire Mesh</a>
            </li>
            <li>
              <a href="#tab_stainless_3" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>3. Stainless Steel Welded Wire Mesh</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_mild_steel_1">
              <!-- 1. Start -->
              <div class="space-bottom"></div>

              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Mild steel welded wire mesh</h5>
                  <br />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <!-- <h3 class="title"><a href="portfolio-item.html">Project Title</a></h3> -->
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Manufacturing Process</h6>
                          <p>
                            The joining of the wires at the intersection isachieved by electric resistance welding. This is by a combination of heavy
                            electric current (applied at low voltage) passed through Â the junction of wires, combined with
                            heavy mechanical pressure. All the spacings between wires are controlled by an automatic mechanism
                            of high reliability.
                          </p>
                          <!-- ------------------------------------------------------------------------- -->
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Materials being used </h6>
                          <p>The wires used in the fabric are cold drawn from controlled quality mild steel wire rods with carbon
                            contents generally less than 0.15%. Wires used for manufacture of fabric are generally in the
                            range of 1.3 mm to 6 mm diameter.</p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/ms-welded-wire-mesh-719784.jpg" style="height: 200px; width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr style="height: 0px;">
                </div>
              </div>

              <div class="row table-responsive">
                <div class="col-sm-12">
                  <h6 class="h6-subhead">
                    <i class="fa fa-caret-right"></i> M.S Welded Mesh Size & Weight</h6>
                  <p align="justify">M.S Welded Mesh with below given specification.</p>
                  <table class="table table-hover table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Sr.No</th>
                        <th>Mesh Size [mm]</th>
                        <th>Wire Diameter [mm]</th>
                        <th>WidthXLength [Feet]</th>
                        <th>Approx. Weight(Â±1)(Kg)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of meshDetails">
                        <td>{{data.id}}</td>
                        <td>{{data.meshSize}}</td>
                        <td>{{data.wireDiameter}}</td>
                        <td>{{data.widthxLength}}</td>
                        <td>{{data.weight}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <h6 class="h6-subhead">
                    <i class="fa fa-caret-right"></i> Note: </h6>
                  <ol>
                    <li>Range of mesh Size &nbsp;:&nbsp; Minimum 15X 15 MM2&nbsp&nbsp;&nbsp; Maximum- 150 X 150 MM2</li>
                    <li>Range of Wire Diameter &nbsp;:&nbsp; 1.3 to 6.0 MM</li>
                    <li>Maximum Available Width &nbsp; : &nbsp; 2.0 Mtr</li>
                    <li>Special sizes, which are not listed above, may possible to be manufactured with advance order.</li>
                  </ol>
                </div>
              </div>

              <div class="row table-responsive">
                <div class="col-sm-12">
                  <h6 class="h6-subhead">
                    <i class="fa fa-caret-right"></i> Welded mesh weight formula</h6>
                  <table class="table table-hover table-bordered">
                    <tbody>
                      <tr>
                        <th>(1) Roll Weight Formula :</th>
                        <td>0.00616 X Total length of wire X wire dia(mm) X wire dia(mm)</td>
                      </tr>
                      <tr>
                        <th>Total length of wire :</th>
                        <td>
                          <p>(1) number of nos of long wire x length roll(meter)</p>
                          <p>(2) number of nos cutting wire X length of cutting wire(meter)</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Example :</th>
                        <td>
                          <p> Size of roll 100mm X 100mm X 3.15mm (5ft X 100ft) find weight of roll</p>
                          <p>Total length of wire :-</p>
                          <p>(1) 16 nos X 30.48 meter(100 ft) = 487.68 mt</p>
                          <p>(2) 305 nos X 1.524 meter(5ft) = 464.82 mt</p>
                          <p>487.68 mt + 464.82 mt
                            <b>= 952.5 mt</b>
                          </p>
                          <p>Formula :- 0.00616 X 952.5 mt X 3.15 mm X 3.15 mm</p>
                          <p>= 0.00616 X 952.5 mt X 9.9225 mm</p>
                          <p>
                            <b>= 58.22 kg</b> of roll</p>
                        </td>
                      </tr>
                      <tr></tr>
                      <tr>
                        <th>(2) Roll Weight Formula :-</th>
                        <td>weight of wire per 100 meter X Total length of wire / 100</td>
                      </tr>
                      <tr>
                        <th>weight of wire per 100 meter :-</th>
                        <td>wire dia(mm) X wire dia(mm) X 6.15206 / 10 =weight per 100mt</td>
                      </tr>
                      <tr>
                        <th>Total length of wire :-</th>
                        <td>
                          <p>(1) number of nos of long wire x length roll(meter)</p>
                          <p>(2) number of nos cutting wire X length of cutting wire(meter)</p>
                        </td>
                      </tr>
                      <tr>
                        <th>Example :-</th>
                        <td>
                          <p>Size of roll 100mm X 100mm X 3.15mm (5ft X 100ft) find weight of roll</p>
                          <p>Total length of wire :-</p>
                          <p>(1) 16 nos X 30.48 meter(100 ft) = 487.68 mt</p>
                          <p>(2) 305 nos X 1.524 meter(5ft) = 464.82 mt</p>
                          <p>=
                            <b>952.5 mt</b>
                          </p>
                          <p>weight of wire per 100 meter :- 3.15mm X 3.15mm X 6.15206 /10</p>
                          <p>= 6.1043 kg per 100 mt</p>
                          <p>
                            <b>Roll Weight</b> = 6.1043 kg x 952.5 mt / 100</p>
                          <p>=
                            <b> 58.14 kg</b>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="separator"></div>

              <div class="row">
                <div class="col-sm-12">
                  <h5>Applications</h5>
                  <hr style="height: 0px;">
                  <br />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Fencing</h6>
                          <p align="justify">Welded Wire Mesh offers a convenient means to quickly partition/baricade large areas with rigid
                            fencing. High security fencing with 3″x1/2″ spacing is common for secure areas like Mints, Treasuries.
                            The mesh is easily anchored to structural posts/angles. Common sizes are 50x50mm to 100x100mm
                            with 3mm to 5.5mm wires.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/welded_wire_mesh_fence.jpg" style="height: 190px; width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Welded Wire Gabion</h6>
                          <p align="justify">Gabions are heavy duty rectangular wire mesh baskets filled with rock or rubble to economically
                            and effectively construct earth retaining walls and erosion control structures.
                          </p>
                          <p align="justify">
                            In constructing such walls, individual gabions are usedas costruction blocks. These blocks are filled incrementally and tied
                            together with heavy wire as construction progresses to form the complete structure.Sizes generally
                            are in the range of 100×100 to 150×150 with wires of 2.5 to 4.0mm.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/welded-wire-gabion-500x500.jpg" style="height: 190px; width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="separator"></div>

              <div class="row">
                <div class="col-sm-12">
                  <h5>Other Application</h5>
                  <br />
                </div>
              </div>

              <div class="row table-responsive">
                <div class="col-sm-12">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="table-dark text-dark">
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <td>Cages</td>
                        <td>Lockers</td>
                        <td>Security Guards</td>
                        <td>Pallets</td>
                        <td>Grilles</td>
                        <td>Bins/ Baskets</td>
                      </tr>
                    </tbody>

                    <thead>
                      <tr class="table-dark text-dark">
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>11</th>
                        <th>12</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <td>Machines Guards</td>
                        <td>Panel Inserts</td>
                        <td>Safety Barriers</td>
                        <td>Racking/ Shelving</td>
                        <td>Containers</td>
                        <td>Litter Bins</td>
                      </tr>
                    </tbody>

                    <thead>
                      <tr class="table-dark text-dark">
                        <th>13</th>
                        <th>14</th>
                        <th>15</th>
                        <th>16</th>
                        <th>17</th>
                        <th>18</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <td>Partitions</td>
                        <td>Ceilings</td>
                        <td>Girder Lagging</td>
                        <td>Guard Trees</td>
                        <td>Machines and Electric Equipments</td>
                        <td>Floor Gratings</td>
                      </tr>
                    </tbody>

                    <thead>
                      <tr class="table-dark text-dark">
                        <th>19</th>
                        <th>20</th>
                        <th>21</th>
                        <th>22</th>
                        <th>23</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-light">
                        <td>Poultry Protection</td>
                        <td>Green House</td>
                        <td>Concrete Reinforcement</td>
                        <td>Building Construction, Paving</td>
                        <td>Concrete Pipes and Pre-cast Component</td>
                      </tr>
                    </tbody>

                  </table>
                </div>
              </div>
              <!-- 1. End -->
            </div>

            <div class="tab-pane fade" id="tab_galvanized_2">
              <!-- 2. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Galvanized welded wire mesh</h5>
                  <br />
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <!-- <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Fencing</h6> -->
                          <p align="justify">The
                            <b>Galvanized Welded Wire Mesh </b>made available by us has high accuracy of 99.99% in mesh leveling
                            when diagonally checked, which is due to their advanced manufacturing. Offered in consistent
                            per square meter weight, the Galvanized Welded Wire Mesh is manufactutured by drawing mild steel
                            wire rod, annealing through electric furnace and galvanizing as per set standards in a modern
                            130 feet long plant.</p>

                          <div class="row">
                            <div class="col-sm-12">
                              <h6 class="h6-subhead">
                                <i class="fa fa-caret-right"></i> Types Available</h6>
                              <ul>
                                <li>
                                  Electroplated galvanized
                                </li>
                                <li>
                                  Hot dipped galvanized
                                </li>
                              </ul>
                              <h6 class="h6-subhead">
                                <i class="fa fa-caret-right"></i> Specifications</h6>
                              <ul>
                                <li>
                                  <b> Wire diameter :</b> 1.3 MM to 6 MM
                                </li>
                                <li>
                                  <b>Mesh size :</b> 12.5 MM to 200 MM
                                </li>
                                <li>
                                  <b>Width :</b> 2000 MM
                                </li>
                              </ul>
                              <!-- <div class="separator"></div> -->
                              <h6 class="h6-subhead">
                                <i class="fa fa-caret-right"></i> Used For</h6>
                              <ul>
                                <li>
                                  Cooler gates
                                </li>
                                <li>
                                  Wall reinforcement in residential houses
                                </li>
                                <li>
                                  Schools
                                </li>
                                <li>
                                  Club houses
                                </li>
                                <li>
                                  Under ground water tank linings
                                </li>
                                <li>
                                  Bird cages and many more
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/hot_dipped_galvanized_welded_wire_mesh_max_width_2_5m.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2. End -->
            </div>

            <div class="tab-pane fade" id="tab_stainless_3">
              <!-- 3. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Stainless steel welded wire mesh</h5>
                  <br/>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Stainless Steel Welded Mesh available in many qualities 202, 304, 316,321, 430………. </h6>

                          <ol>
                            <li>For longer life and higher quality</li>
                            <li>For cleanliness and hygiene</li>
                            <li>For rustproof qualities</li>
                          </ol>

                          <p align="justify">The use of stainless steel welded mesh for many industrial applications is rapidly increasing where
                            its strength, hygienic and rustproof qualities have proved to be of benefit. More and more users
                            are recognising that the long term advantages of stainless steel far outweigh the higher initial
                            cost.
                          </p>
                          <p align="justify">
                            We supply to the chemical, pharmaceutical, health care, food, pollution control, electronics, building industries and many
                            more.</p>
                          <p align="justify">Our standard stock range of meshes is held in 304 quality, but all normal grades of stainless steel
                            can be supplied to order.</p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/S.S-WELDED-WIRE-MESH.jpg" style="height: 190px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3. End -->
            </div>
          </div>
        </div>
        <!-- tabs end -->
        <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
        <!-- -->
      </div>
    </div>
  </div>
</div>