<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Wire Mesh</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Wire Mesh</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/gi-wire-mesh_3_2_1.jpg" class="carousel-img" alt="">
                    <a href="assets/images/gi-wire-mesh_3_2_1.jpg" class="popup-img overlay">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <p align="justify">
                  Due to its unmatched quality and never before strength we have been able to establish ourselves as the prominent Wire Mesh
                  Manufacturer & Wire Mesh Suppliers. Our exquisite range of Wire Mesh showcases efficiency & perfection
                  in optimum way possible. Our Wire Mesh are offered with the assurance of better durability and better reliability
                  than the other available in the market.
                </p>
                <p align="justify">
                  New materials and technical innovations from over years of experience has resulted in such high quality Knit Wire Mesh. Our
                  knit Wire Mesh are exactly in contrast with the demand of the market trends. Our products are manufactured
                  using latest techniques with zero percent compromise on quality. So feel free to come forward and have
                  a beneficial business deals with us.
                </p>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="separator"></div>

<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- tabs start -->
        <div class="tabs-style-2">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab_1" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>1. Galvanized wire mesh</a>
            </li>
            <li>
              <a href="#tab_2" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. Stainless steel wire mesh</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_1">
              <!-- 1. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Galvanized wire mesh</h5>
                  <br>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <h6 class="h6-subhead">1. G.I Square Wire Mesh</h6>
                          <p align="justify">The Plain Weave is the most commonly used and simplest wire mesh (galvanized,stainless steel wire
                            mesh). Each wrap wire (wire running-paralled to length of mesh) passes alternately over and under
                            the wires running traversely through the mesh (fill or shoot wires) at 90 degree angles. It has
                            an extremely wide range of applications.
                          </p>
                          <h6 class="h6-subhead">Main uses</h6>
                          <ol>
                            <li>Grain Market.</li>
                            <li>Home purpose.</li>
                            <li>Pharmacy industry, for seperation of powder.</li>
                            <li>Civil constructors for separation of sand & stones/quary purpose.</li>
                            <li>for guard safety purpose, for machinery.</li>
                            <li>Mosquito net.</li>
                            <li>Filtration.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/G.I-WIRE-MESH.jpg" style="height: 190px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 1. End -->
            </div>
            <div class="tab-pane fade" id="tab_2">
              <!-- 2. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Stainless steel wire mesh</h5>
                  <br />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">The fine wire mesh are manufactured in stainless steel with a grade of 202,304,316.</p>
                          <p align="justify">We produce a meshes with modern machinery with latest technology.</p>
                          <p align="justify">Stainless steel is selected for their wear-resisting, heat-resisting, acid-resisting and corrosion
                            resisting characteristics. Many different grades of stainless are used in wire mesh.304 is the
                            most common, but other are used in specific applications to take advantage of each grade’s unique
                            properties.
                          </p>
                          <h6 class="h6-subhead">APPLICATION</h6>
                          <ol>
                            <li>Mining</li>
                            <li>Chemical</li>
                            <li>Food</li>
                            <li>Pharmaceutical</li>
                            <li>Mosquito net</li>
                            <li>Filtering</li>
                            <li>Crushers</li>
                            <li>Construction</li>
                            <li>Gas godown</li>
                          </ol>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/wire_wesh.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2. End -->
            </div>
          </div>
        </div>
        <!-- tabs end -->
      </div>
    </div>
  </div>
</div>
<div class="separator"></div>

<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <h5>G.I.WIRE MESH Size & Weight</h5>
        <h6 class="h6-subhead">G.I.Square Wire Mesh size Of roll 0.90 mt width & 15.0 mt length</h6>
        <br />

        <div class="row table-responsive">
          <div class="col-md-12">
            <table class="table table-hover table-striped table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Sr.No</th>
                  <th class="text-center">Roll Size</th>
                  <th class="text-center">App.Weight</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of wireMeshDetails">
                  <td>{{data.id}}</td>
                  <td>{{data.rollSize}}</td>
                  <td>{{data.weight}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h6 class="h6-subhead">ALSO Available in size 60 cm., 75 cm., 105cm., & 120cm.</h6>
        <h6 class="h6-subhead">ALSO Available any special size of mesh on order</h6>
        <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
        <!-- -->
      </div>
    </div>
  </div>
</div>