<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Expanded Metal & Perforeted Sheet</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Expanded Metal & Perforeted Sheet</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/expanded_metal2.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/expanded_metal2.jpg" class="popup-img overlay">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/metal.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/metal.jpg" class="popup-img overlay" title="Expanded metal mesh at length from 600-4000mm and width from 600-2000m.">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <div class="tabs-style-2">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#h2tab1" role="tab" data-toggle="tab">
                        <i class="fa fa-file-text-o pr-5"></i>Description</a>
                    </li>
                    <li>
                      <a href="#h2tab2" role="tab" data-toggle="tab">
                        <i class="fa fa-files-o pr-5"></i>Specifications</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content padding-top-clear padding-bottom-clear">
                    <div class="tab-pane fade in active" id="h2tab1">
                      <div class="space-top"></div>
                      <p align="justify">
                        Expanded metal is free from link & joints. This is one of the strongest mesh work. It is an extremely useful material having
                        a remarkably high quality of strength and toughness as it has no artificial joints but just one continuous
                        piece of material which makes it tensile and dependable.
                      </p>
                      <p align="justify">
                        Expanded Metal Products have gained popularity because they are made rust-proof i.e acquired by anticorrosive coating as
                        well as by Zinc Galvanizing. It adds charm and distiction to furnishings in home and offices for
                        interior decorations or at any different place. It has a wide range of application in industrial
                        products and designs because of its practical utility in a distinctive manner.
                      </p>
                      <h6 class="h6-subhead">Expanded metal mesh at length from 600-4000mm and width from 600-2000m.</h6>
                      <b>
                        The hole shape:
                      </b>
                      <p align="justify">
                        Round, square, long round, triangle,diamond, oval, hexangular etc.
                      </p>
                      <b>Uses</b>
                      <ol>
                        <li>
                          Item required for ONGC fencing & other partition purpose.
                        </li>
                        <li>
                          for making durable & economic rack/shelf.
                        </li>
                        <li>
                          for making free guards.
                        </li>
                      </ol>
                    </div>
                    <div class="tab-pane fade" id="h2tab2">
                      <div class="space-top"></div>
                      <div class="row table-responsive">
                        <div class="col-sm-12">
                          <b>Material:</b>
                          <ul>
                            <li>Mild Steel, Stainless steel, Galvanized, Aluminum</li>
                          </ul>
                          <!-- -->
                          <b>Sizes:</b>
                          <ul>
                            <li>Long way of mesh : TB: 12.5-200mm</li>
                            <li>Short way of mesh : 5-80mm</li>
                            <li>Thickness : 0.5-8mm</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
                <!-- -->
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>