<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Wire</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Wire</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/mild_steel_wire1.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/mild_steel_wire1.jpg" class="popup-img overlay" title="MILD STEEL WIRE">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/hotdipped-galvanized-wire-bigcoil.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/hotdipped-galvanized-wire-bigcoil.jpg" class="popup-img overlay" title="GALVANIZED WIRE">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/electroplated_wire1.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/electroplated_wire1.jpg" class="popup-img overlay" title="ELECTROPLATED WIRE">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/galvanized-binding-wire-1622576.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/galvanized-binding-wire-1622576.jpg" class="popup-img overlay" title="STAINLESS STEEL WIRE">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <h6 class="h6-subhead">Types of Wire</h6>
                <ul>
                  <li>Mild steel wire</li>
                  <li>Galvanized wire</li>
                  <li>Stainless steel wire</li>
                  <li>Electroplated wire</li>
                  <li>PVC Coated galvanized wire</li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="separator"></div>

<!-- ------------------------------------------------------------------ -->
<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- tabs start -->
        <div class="tabs-style-2">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab_wire_1" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>1. Mild steel wire</a>
            </li>
            <li>
              <a href="#tab_wire_2" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. Galvanized wire</a>
            </li>
            <li>
              <a href="#tab_wire_3" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>3. Stainless steel wire</a>
            </li>
            <li>
              <a href="#tab_wire_4" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>4. Electroplated wire</a>
            </li>
            <li>
              <a href="#tab_wire_5" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>5. PVC Coated galvanized wire</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_wire_1">
              <!-- 1. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Mild steel wire</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify" class="mt-20">
                            Considered one of the best products in the market, the
                            <b> Mild Steel Annealed Wire</b> is manufactured by us using the process of Electroplated and Galvanizing.
                            Raw material is high grade metal wire with clear surface that is coated with zinc while using
                            chemicals as catalysts and electricity through rectifier. The Mild Steel Annealed Wire is also
                            used by us to produce other products to impart the best quality and durability like :
                          </p>
                          <ul>
                            <li>Electroplated Galvanized Welded Wire Mesh</li>
                            <li>Electroplated Galvanized Chain Link Wire Mesh</li>
                          </ul>
                          <h5>Specifications</h5>
                          <ul>
                            <li>
                              <b>Wire diameter:</b> 0.90 MMs ( 20 SWG ) to 4.00mm ( 8 SWG )</li>
                            <li>
                              <b>GSM:</b> As per requirement</li>
                          </ul>
                          <h5>Specialty</h5>
                          <ul>
                            <li>Toughened wire surface</li>
                            <li>Corrosion proof</li>
                            <li>Abrasion resistant</li>
                            <li>Long life</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/mild_steel_wire1.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 1. End -->
            </div>
            <div class="tab-pane fade" id="tab_wire_2">
              <!-- 2. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Galvanized wire</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify" class="mt-20">
                            These are Mild Steel Galvanized wires which are used in the manufacturing of Wire netting, Wire mesh, Fencing, Barbing, Agriculture,
                            Irrigation, Prevention of soil erosion, and other general applications.
                          </p>
                          <h6 class="h6-subhead">
                            <i class="fa fa-caret-right"></i> Hot dip galvanized wire</h6>
                          <p align="justify" class="mt-20">
                            These are Mild Steel Galvanized wires which are used in the manufacturing of Wire netting, Wire mesh, Fencing, Barbing, Agriculture,
                            Irrigation, Prevention of soil erosion, and other general applications.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/hotdipped-galvanized-wire-bigcoil.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="row table-responsive mt-20">
                      <div class="col-sm-12">
                        <table class="table table-bordered table-striped table-hover">
                          <tr>
                            <th>SIZE</th>
                            <td>Thicker Wire</td>
                            <td>4 mm to 2 mm</td>
                          </tr>
                          <tr>
                            <th>-</th>
                            <td>Fine Wire</td>
                            <td>1.8 mm to 0.91 mm</td>
                          </tr>
                          <tr>
                            <th>SIZE VARIATION</th>
                            <td>± 2.5%</td>
                            <td>Minimum of</td>
                          </tr>
                          <tr>
                            <th>OVALITY</th>
                            <td>± 0.5%</td>
                            <td>0.025 mm</td>
                          </tr>
                        </table>

                        <table class="table table-bordered table-striped table-hover">
                          <tr>
                            <th class="text-center">Quality</th>
                            <th class="text-center">Coating(gm/mm2)</th>
                          </tr>
                          <tr>
                            <td>Heavy</td>
                            <td>240 to 290</td>
                          </tr>
                          <tr>
                            <td>Medium</td>
                            <td>135 to 170</td>
                          </tr>
                          <tr>
                            <td>Light</td>
                            <td>60 to 115</td>
                          </tr>
                          <tr>
                            <td>Commercial</td>
                            <td>30 to 40</td>
                          </tr>
                        </table>

                        <table class="table table-bordered table-striped table-hover">
                          <thead>
                            <tr>
                              <th class="text-center" colspan="4">Firstname</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Soft</td>
                              <td>38 to 55 kgf</td>
                              <td>Hard</td>
                              <td>More than 55 kgf</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="text-center" colspan="4">COIL SIZE</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Thicker Wire </td>
                              <td>550 mm</td>
                              <td>Fine Wire</td>
                              <td>300 mm</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="text-center" colspan="4">COIL WEIGHT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Thicker Wire</td>
                              <td>45 toto 150 kg</td>
                              <td>Fine Wire</td>
                              <td>Fine Wire</td>
                            </tr>
                          </tbody>
                          <thead>
                            <tr>
                              <th class="text-center" colspan="4">PACKING</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Thicker Gauge</td>
                              <td>Hassian Cloth, binded four sides with wire (on demand)</td>
                              <td>Fine Sizes</td>
                              <td>PVC film wrapped and Hassian packing (on demand)</td>
                            </tr>
                          </tbody>
                        </table>

                        <table class="table table-bordered table-striped table-hover">
                          <tr>
                            <th class="text-center" colspan="2">WIRE ROD RAW MATERIAL As per IS – 7887 & IS – 2062</th>
                          </tr>
                          <tr>
                            <td>Carbon</td>
                            <td>0.12 to 0.20</td>
                          </tr>
                          <tr>
                            <td>Phosphorous</td>
                            <td>0.05 max</td>
                          </tr>
                          <tr>
                            <td>Silicon</td>
                            <td>0.05 max</td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2. End -->
            </div>
            <div class="tab-pane fade" id="tab_wire_3">
              <!-- 3. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Stainless steel wire</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            Stainless steel is the generic term used to represent the family of corrosion resistance alloys. This metal derives its name
                            because it does not stain, rust or corrode, hence, called “STAINLESS STEEL”. Its properties are
                            more enhanced with other elements such as Molybdenum, Nickel and nitrogen. With addition of these
                            elements SS is produced in variety of grades for usage in range of industries as per their requirement.
                          </p>
                          <p align="justify">
                            One of the unique features of this metal, is that it can be reused and recycled, making it environment friendly. Over 50%
                            of the new stainless steel is made from re-melted scrap-metal making it a ‘Green Metal’. Stainless
                            Steel is also dubbed as ‘Wonder Metal’ because of its distinguished characteristic like low maintenance,
                            weld ability, aesthetic appeal, durability, low life cycle cost, good erosion and corrosion resistance.
                            These qualities make it an ideal material for many applications for usage in various end use
                            sectors.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/galvanized-binding-wire-1622576.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 3. End -->
            </div>
            <div class="tab-pane fade" id="tab_wire_4">
              <!-- 4. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Electroplated wire</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            As well as being a market leader in the production of stainless steel fine wires, Ulbrich Stainless Steels and Special metals
                            also have in house electroplating lines so that we can cater to the requirements of high precision
                            cable manufacturers.
                          </p>
                          <p align="justify">
                            We can electroplate copper, nickel, gold, silver, tin, or tin-lead onto wire made from numerous metals and alloys to provide
                            a conductive, corrosion resistant, and/or solderable surface. Thicknesses and under-plating capabilities
                            vary depending on the wire substrate, size, and metals to be electroplated. Our chemist and sales
                            staff will be happy to work with you to produce the best wire for your application.
                          </p>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/electroplated_wire1.jpg" style="height: 250px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 4. End -->
            </div>
            <div class="tab-pane fade" id="tab_wire_5">
              <!-- 5. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> PVC Coated galvanized wire</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            We Manufacture and Supply PVC Coated Galvanised Wire using latest techniques to impart the desired quality and strength.
                            Available in a wide variety, the PVC Coated Galvanised Wire offered by us is the ideal fencing
                            solution for different establishments. Manufactured under a closely monitored process, the PVC
                            Coated Galvanised Wire is designed by experts and tested on strict standards to offer the best.
                          </p>
                          <ul>
                            <li>Resistant to damage</li>
                            <li>Accurate dimensions</li>
                            <li>Corrosion resistant</li>
                            <li>Excellent strength</li>
                            <li>Highly tough</li>
                          </ul>
                          <br>
                          <h5>Variety Available For</h5>
                          <ul>
                            <li>Diameter</li>
                            <li>Thickness</li>
                            <li>Width</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/PVC-COATED-GALVANIZED-WIRE.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 5. End -->
            </div>
          </div>
        </div>
        <!-- tabs end -->
        <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
        <!-- -->
      </div>
    </div>
  </div>
</div>