<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Chain Link Fence</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Chain Link Fence</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/Chain-Link-Blk-Vinyl-Coat_2.jpg" class="carousel-img" alt="">
                    <a href="assets/images/Chain-Link-Blk-Vinyl-Coat_2.jpg" class="popup-img overlay">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/chain_fence1.jpg" class="carousel-img" alt="">
                    <a href="assets/images/chain_fence1.jpg" class="popup-img overlay">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">
                <p align="justify">
                  Chainlink Fencings are used for providing security from intruders on open land, farms, houses, factories, children park,
                  gardens, airport runways, tennis court, and at any public place to stop unwanted intrusion. Manufactured
                  in M.S.Galvanized Steel, PVC coated G.I. wire, Stainless steel and other metals against orders. The opening
                  of the mesh ranges from 1 inch to 6 inches, from 2mm wire dia to 4.5mm wire dia to a maximum width of 14
                  feet high.
                </p>
                <p align="justify">
                  We provide galvanized diamond wire mesh or PVC coated diamond wire mesh, mainly for fencing use.
                </p>
                <p align="justify">
                  Material : Galvanized wire, Low carbon steel wire, stainless steel wire, aluminum alloy wire,PVC Coated wire.
                </p>
                <p align="justify">
                  We have established ourselves among the leading Chain Fence Link Supliers in gujarat. It can also be used in test areas to
                  provide protection against flying objects yet permitting visibility of operations behind screens.
                </p>
                <p align="justify">
                  From our Chain fence link wholesale you can choose Chain Link Fence made of galvanized stainless steel.
                </p>
                <h6 class="h6-subhead">Applications</h6>
                <ul>
                  <li>Fencing of factories, farms, houses and animal enclosures.Roof support in long wall mining.</li>
                  <li>To provide fencing across boundaries for security.</li>
                  <li>Effective indoor or outdoor protection around machinery or in test areas, protection against flying objects
                    yet Permitting visibility of operations behind screens. And it is also used in outdoor fencing.</li>
                </ul>
                <h6 class="h6-subhead">Technical Specifications</h6>
                <h6 class="h6-subhead">SWG Opening in Inch</h6>
                <p>8</p>
                <p>1.5, 2, 2.5, 3, 3.5, 4, 5, 6</p>
                <p>10</p>
                <p>1, 1.5, 2, 2.5, 3, 3.5, 4, 5, 6</p>
                <p>12</p>
                <p>1, 1.5, 2, 2.5, 3, 3.5, 4</p>
                <p>14</p>
                <p>0.75,1, 1.5, 2, 2.5</p>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="separator"></div>

<div class="section clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- tabs start -->
        <div class="tabs-style-2">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active">
              <a href="#tab_1" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>1. Galvanized chain link fencing</a>
            </li>
            <li>
              <a href="#tab_2" role="tab" data-toggle="tab">
                <i class="fa fa-dot-circle-o pr-5"></i>2. PVC G.I. Chain link fencing</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_1">
              <!-- 1. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> Galvanized chain link fencing</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <!-- -->
                          <p align="justify">
                            Supplied in varied combinations, our Galvanised Chain Link Wire Meshes find application in diverse areas owing to their quality
                            and economyIts made from galvanized mild steel wire or PVC coated mild steel/galvanized wire.
                            High carbon steel wire or aluminum wire. Galvanized Chain Link Wire Mesh can be availed in standard
                            packing or compacted rolls that reduce the cost of transportation
                          </p>
                          <!-- -->
                          <h6 class="h6-subhead">Size</h6>
                          <ul>
                            <li>Mesh opening: 25mm to 150mm</li>
                            <li>Wire dia : 2 mm to 5 mm.</li>
                            <li>Height/width: upto 3 meters.</li>
                            <li>Roll length : upto 100 feet.</li>
                          </ul>
                          <!-- -->
                          <h6 class="h6-subhead">Specialty</h6>
                          <ul>
                            <li>Standard and customized versions available</li>
                            <li>Highly tough</li>
                            <li>Resistant to corrosion</li>
                            <li>Resistant to adverse effects</li>
                            <li>Durable</li>
                          </ul>
                          <!-- -->
                          <h6 class="h6-subhead">Application</h6>
                          <ol>
                            <li>effective indoor or outdoor protection around machinery or in test areas.</li>
                            <li>mesh protection against flying objects yet permitting visibility of operations.</li>
                            <li>Fencing of farm</li>
                            <li>Gardens</li>
                            <li>Factories</li>
                            <li>Playgrounds</li>
                            <li>Bungalows</li>
                            <li>Building</li>
                            <li>Airport</li>
                            <li>Highways</li>
                            <li>Farms</li>
                            <li>olar plant</li>
                          </ol>
                          <!-- -->
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/G.I.-CHAIN-LINK-FENCE.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 1. End -->
            </div>
            <div class="tab-pane fade" id="tab_2">
              <!-- 2. Start -->
              <div class="space-bottom"></div>
              <div class="row">
                <div class="col-sm-12">
                  <h5>
                    <i class="fa fa-chevron-circle-right"></i> PVC G.I. Chain link fencing</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <div class="list-item">
                    <div class="row">
                      <div class="col-sm-6 col-md-8 col-lg-9">
                        <div class="body">
                          <p align="justify">
                            We provide a wide range of chain link fencing that contains high quality galvanized and PVC
                          </p>
                          <p align="justify">
                            Material used : High low carbon steel wirestainless steel wire,PVC wire.
                          </p>
                          <h6 class="h6-subhead">Application </h6>
                          <ol>
                            <li>Highway</li>
                            <li>Gym</li>
                            <li>Basketball</li>
                            <li>Ground</li>
                            <li>Airport</li>
                            <li>Power station</li>
                            <li>Industrial compiexes</li>
                            <li>Tennis courts</li>
                            <li>Zoological park</li>
                            <li>Sport field & stadiums</li>
                          </ol>
                        </div>
                      </div>
                      <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="overlay-container">
                          <img src="assets/images/Chain-link-fencing.jpg" style="height: 200px;width:100%" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 2. End -->
            </div>
          </div>
        </div>
        <!-- tabs end -->
        <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
        <!-- -->
      </div>
    </div>
  </div>
</div>