/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
.mt-20{
    margin-top: 20px
}

.mt-40{
    margin-top: 40px
}

.mb-20{
    margin-bottom: 20px
}

.ml-45{
    margin-left: 45px
}

.ml-65 {
    margin-left: 65px
}

table{
    text-align: center;
  }