<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li class="active">About Us</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">

      <div class="main col-md-12">
        <h1 class="page-title">About Us</h1>
        <div class="separator-2"></div>
        <div class="space-top"></div>
        <div class="row">
          <div class="col-md-9">
            <p align="justify">
              <b>Weld Tech Industries</b> is a well-established firm, located at 92, G.I.D.C., Gozaria, Ta. Vijapur, Dist. Mehsana
              (Gujarat), India and has a vast experience of over 25 years in this industry.<br><br>
              <b>Mr. Bhavesh Patel</b> , the Owner of the company has gathered a huge team of skilled professionals who endeavor
              to take this company to great heights. <br><br> We are engaged in providing an excellent range of products at very competitive
              prices. We have adopted the Zero Error Policy for quality, which helped us to gain a huge clientele within
              the national boundaries.
            </p>
            <!-- <ul class="list-icons">
              <li class="object-non-visible" data-animation-effect="fadeInUpSmall">
                <i class="fa fa-check"></i>
                Quality Assurance
                <p align="justify">We have a team of skilled personnel, which ensures that the quality of any products will not be compromised
                  at any cost. We provide our clients with 100% satisfaction and full worth of their money spent with us.
                </p>
              </li>
              <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="100">
                <i class="fa fa-check"></i> Mission
                <p align="justify">We have a mission to achieve 100% satisfaction level of our valued clients by providing them excellent quality
                  products at the most reasonable price. This will in turn help us to maintain a long relationship with our
                  customers. We have a vision to achieve the best position in the wire mesh industry.
                </p>
              </li>
              <li class="object-non-visible" data-animation-effect="fadeInUpSmall" data-effect-delay="300">
                <i class="fa fa-check"></i> Why Us?
                <p align="justify">We offer an exemplary range of quality products at very affordable rates that differentiates us from others
                  in this industry. The timely delivery of the products, ordered by our clients, makes us a worth selection
                  and also helped us to attain name and fame in the industry.</p>
              </li>
            </ul> -->
          </div>
          <aside class="sidebar col-md-3">
            <div class="side vertical-divider-left">
              <div class="overlay-container margin-top-clear">
                <img src="../../../../assets/images/bhavesh-patel.jpg" alt="">
                <a href="../../../../assets/images/bhavesh-patel.jpg" class="popup-img overlay" title="Mr. Bhavesh Patel">
                  <i class="fa fa-search-plus"></i>
                </a>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="section clearfix">
  <div class="container" data-animation-effect="fadeInUpSmall">
    <h4>Quality Assurance</h4>
    <div class="separator-2"></div>
    <p align="justify">
      We have a team of skilled personnel, which ensures that the quality of any products will not be compromised at any cost.
      We provide our clients with 100% satisfaction and full worth of their money spent with us.
    </p>

    <br>
    <h4 class="title">Mission</h4>
    <div class="separator-2"></div>
    <p align="justify">
      We have a mission to achieve 100% satisfaction level of our valued clients by providing them excellent quality products at
      the most reasonable price. This will in turn help us to maintain a long relationship with our customers. We have a
      vision to achieve the best position in the wire mesh industry.
    </p>

    <br>
    <h4 class="title">Why Us?</h4>
    <div class="separator-2"></div>
    <p align="justify">
      We offer an exemplary range of quality products at very affordable rates that differentiates us from others in this industry.
      The timely delivery of the products, ordered by our clients, makes us a worth selection and also helped us to attain
      name and fame in the industry.
    </p>

  </div>
</div>