<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Concertina Coils</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Concertina Coils</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/CONCERTINA-COIL-1.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/CONCERTINA-COIL-1.jpg" class="popup-img overlay" title="CONCERTINA-COIL">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/CONCERTINA-COIL-2.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/CONCERTINA-COIL-2.jpg" class="popup-img overlay" title="CONCERTINA-COIL">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">

                <div class="tabs-style-2">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#h2tab1" role="tab" data-toggle="tab">
                        <i class="fa fa-file-text-o pr-5"></i>Description</a>
                    </li>
                    <li>
                      <a href="#h2tab2" role="tab" data-toggle="tab">
                        <i class="fa fa-files-o pr-5"></i>Specifications</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content padding-top-clear padding-bottom-clear">
                    <div class="tab-pane fade in active" id="h2tab1">
                      <div class="space-top"></div>
                      <p align="justify">
                        We are reckoned as the most eminent Concertina Coil suppliers based in India. The materials used in the manufacturing of
                        Crossed Concertina Coils are of excellent quality that ensures high durability and resistivity to
                        various corrosive attacks. The Crossed Concertina Coils are also experiencing huge demand in the
                        national as well as international market as these are the best option when it comes to fencing of
                        the walls/fences. Customers are also facilitated with the availability of the Concertina Coils within
                        the stipulated time frame and at the most affordable prices.
                      </p>
                      <p align="justify">
                        Our concertina wire is designed and developed as per our client’s demand. Well developed and tested, these concertina wire
                        are superior in quality and performance.
                      </p>
                      <p align="justify">
                        <u>Material use</u>
                      </p>
                      <ul>
                        <li>Galvanized Concertina coil</li>
                        <li>Hot Dip Galvanized Concertina Coil</li>
                        <li>Electroplated Galvanized Concertina Coil</li>
                      </ul>
                    </div>
                    <div class="tab-pane fade" id="h2tab2">
                      <div class="space-top"></div>
                      <div class="row table-responsive">
                        <div class="col-sm-12">
                          <table class="table table-bordered table-striped table-hover">
                            <thead>
                              <tr>
                                <th class="text-center">NominalCoil Diameters</th>
                                <th class="text-center">Type of Coil</th>
                                <th class="text-center">CoilDiameter After Stretching</th>
                                <th class="text-center">Standard Numberof Loops per Coil</th>
                                <th class="text-center">Normal Coverage</th>
                                <th class="text-center">Clips per Loop</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>mm</td>
                                <td>-</td>
                                <td>mm</td>
                                <td>(Turns)</td>
                                <td>Mtrs</td>
                                <td>(Turns)</td>
                              </tr>
                              <tr>
                                <td>450</td>
                                <td>Helical Concertina</td>
                                <td>400
                                  <br> 400
                                </td>
                                <td>33
                                  <br> 55/56
                                </td>
                                <td>3.5m – 6m
                                  <br> 8m – 10m</td>
                                <td>-
                                  <br>3</td>
                              </tr>
                              <tr>
                                <td>600</td>
                                <td>Concertina</td>
                                <td>530</td>
                                <td>55/56</td>
                                <td>10m – 12m</td>
                                <td>3</td>
                              </tr>
                              <tr>
                                <td>730</td>
                                <td>Concertina</td>
                                <td>630</td>
                                <td>55/56</td>
                                <td>10m – 12m</td>
                                <td>5</td>
                              </tr>
                              <tr>
                                <td>930</td>
                                <td>Concertina</td>
                                <td>840</td>
                                <td>55/56</td>
                                <td>12m – 15m</td>
                                <td>5</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
                <!-- -->
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>