<div class="page-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li>
            <i class="fa fa-home pr-10"></i>
            <a [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/all-products']">Products</a>
          </li>
          <li class="active">Hexagonal Wire Mesh</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h4 class="page-header">Hexagonal Wire Mesh</h4>
        <div class="row">
          <div class="col-md-3">
            <ul class="nav nav-pills white" role="tablist">
              <li class="active">
                <a href="#product-images" role="tab" data-toggle="tab" title="images">
                  <i class="fa fa-camera pr-5"></i> Photo</a>
              </li>
            </ul>
            <div class="tab-content clear-style">
              <div class="tab-pane active" id="product-images">
                <div class="owl-carousel content-slider-with-controls-bottom">
                  <div class="overlay-container">
                    <img src="assets/images/HEXAGONAL-WIRE-MESH.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/HEXAGONAL-WIRE-MESH.jpg" class="popup-img overlay" title="HEXAGONAL-WIRE-MESH">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                  <div class="overlay-container">
                    <img src="assets/images/Stainless.jpg" style="height: 180px; width:100%;" alt="">
                    <a href="assets/images/Stainless.jpg" class="popup-img overlay" title="Stainless">
                      <i class="fa fa-search-plus"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <aside class="col-md-9">
            <div class="sidebar">
              <div class="side product-item vertical-divider-left">

                <div class="tabs-style-2">
                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="active">
                      <a href="#h2tab1" role="tab" data-toggle="tab">
                        <i class="fa fa-file-text-o pr-5"></i>Description</a>
                    </li>
                    <li>
                      <a href="#h2tab2" role="tab" data-toggle="tab">
                        <i class="fa fa-files-o pr-5"></i>Specifications</a>
                    </li>
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content padding-top-clear padding-bottom-clear">
                    <div class="tab-pane fade in active" id="h2tab1">
                      <div class="space-top"></div>
                      <p align="justify">
                        Manufactured in the width of 2feet, 3feet, 4feet, 5feet 6feet and 2m from 1/2″ opening to 3″ opening from 0.30mm wire dia
                        to 2mm wire dia. Made in galvanized steel, M.S. stainless steel, PVC coated etc.
                      </p>
                      <p align="justify">
                        <b>Hexagonal Wire Mesh</b> offered by us is the right fencing option as it is manufactured using choicest
                        raw materials. The Hexagonal Wire Mesh has wires with double twisting in every individual hexagonal
                        mesh that further adds to its strength.
                      </p>

                      <div id="divhexa" class="row mt-20">
                        <div class="col-sm-12">
                          <!-- -->
                          <h6 class="h6-subhead">Materials Of Construction</h6>
                          <ul>
                            <li>Zinc Coated Galvanized wire</li>
                            <li>Mild Steel wire</li>
                            <li>Stainless steel wire</li>
                          </ul>
                          <!-- -->
                          <h6 class="h6-subhead">Varieties</h6>
                          <ul>
                            <li>Mild Steel Wire Mesh</li>
                            <li>Galvanized Wire Mesh</li>
                            <li>PVC Coated Galvanized Wire Mesh</li>
                          </ul>
                        </div>
                        <div class="col-sm-12">
                          <p align="justify">
                            We feel proud of being leading
                            <b>Hexagonal Wire Mesh</b> Manufacturers and Hexagonal Wire Mesh Suppliers. Our Hexagonal Wire Mesh
                            are trustworthy, manufactured using latest techniques with zero percent compromise on quality.
                            The Hexagonal Wire Mesh manufactured and exported by us are capable of leaving an indelible impact
                            on the user.
                          </p>
                        </div>
                        <div class="col-sm-12">
                          <h6 class="h6-subhead">Application</h6>
                          <ol>
                            <li> as building reinforcement of the roof and floor.</li>
                            <li>Covering glass wool and rock wool in pipeline and boilers insulation.</li>
                            <li>used as fence for poultry cage</li>
                            <li>Fish garden</li>
                            <li>Children playground.</li>
                            <li>Give a beautiful appearances.</li>
                          </ol>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="h2tab2">
                      <div class="space-top"></div>
                      <div class="row table-responsive">
                        <div id="divhexa2" class="col-sm-12">
                          <ul>
                            <li>
                              <b>Wire diameter :</b> 1.00 MM to 2.5 MM
                            </li>
                            <li>
                              <b>Fence height :</b> 600 MM to 2000 MM
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a routerLink="/enquiry" class="btn btn-white btn-light-gray btn-sm btn-animation btn-animation--slide-to-right">Enquiry Now</a>
                <!-- -->
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</section>